{% extends 'base.html' %}

{% block title %}
Login Or Signup
{% endblock title %}
{% block body %}

<div class="container" style='width:60%; text-align: center;'>
<div class="container">

    <h4 style="font-family: 'El Messiri', sans-serif; font-size: 33px; font-weight: 700; margin-top: 22%; margin-bottom: 20px; ">Please Login or Signup to Continue...</h4>

            <!-- Button trigger Login modal -->
            <button type="button" class="btn btn-success btn-lg mr-3" data-toggle="modal" data-target="#loginmodal">
                Login
            </button>
            <!-- Button trigger sign up modal -->
            <button type="button" class="btn btn-outline-success btn-lg" data-toggle="modal" data-target="#signupmodal">
                Signup
            </button>
</div>            

</div>
           

{% endblock body %}