{% extends 'base.html' %}
{% block title %}
Track Order
{% endblock title %}
{% block body %}


<div class="container" style="width:70%; margin-top:10%; font-family: 'El Messiri', sans-serif;">
<h1 class="text-center my-5" ><span style="border-bottom:4px dotted;"> Enter Order ID To Track Your Order</span></h1>
<form action="TrackOrder" method='post'>
{% csrf_token %}
            <div class="form">
                <div class="form-group">
                    <label for="orderid">Order ID</label>
                    <input type="text" class="form-control" id="order_id" name="order_id" required>
                </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Track Order</button>
</form>
</div>            

{% endblock body %}